<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="init"
       default-destroy-method="destroy">

    <bean id="helloWorld" class="HelloWorld" scope="prototype">
        <property name="message" value="ABC!"/>
        <property name="message2" value="ABC2!"/>
    </bean>

    <bean id="zad1" class="Zad1" scope="prototype">
        <property name="value1" value="1"/>
        <property name="value2" value="2"/>
    </bean>
    <bean id="zad2" class="Zad2" scope="singleton">
        <property name="value1" value="1"/>
        <property name="value2" value="2"/>
    </bean>
    <bean id="zad3" class="Zad3" init-method="init" destroy-method="destroy" lazy-init="true">
        <property name="message" value="My message"/>
    </bean>

    <bean id = "zad4AbstractBean" abstract = "true">
        <property name = "one" value = "I am one"/>
        <property name = "two" value = "I am two"/>
        <property name = "three" value = "I am three"/>
    </bean>

    <bean id="zad4Bean" class="Zad4Bean" parent="zad4AbstractBean">
        <property name="one" value="Woohoa!"/>
        <property name="three" value="Yeah oh good!"/>
    </bean>

    <bean id="computer" class="Computer">
        <property name="ram">
            <bean id="ram" class="Ram">
                <property name="value" value="128"/>
            </bean>
        </property>
    </bean>

    <bean id="car" class="Car">
        <constructor-arg index="0" ref="engine"/>
    </bean>

    <bean id="engine" class="Engine">

    </bean>

    <bean id="collectionBean" class="CollectionBean">
    <property name="list">
        <list>
            <value>INDIA</value>
            <value>Pakistan</value>
            <value>USA</value>
            <value>USA</value>
        </list>
    </property>
        <property name="set">
            <set>
                <value>INDIA</value>
                <value>Pakistan</value>
                <value>USA</value>
                <value>USA</value>
            </set>
        </property>

        <property name="map">
            <map>
                <entry key="1" value="INDIA"/>
                <entry key="2" value="Pakistan"/>
                <entry key="3" value="USA"/>
                <entry key="4" value="USA"/>

            </map>
        </property>
    </bean>



</beans>